[tasbot]
serverport=8200
serveraddr=springrts.com
nick=AmBot
password=
debug=1
admins=_koshi_,BrainDamage

plugins=ambot,join_channels

logfile=$HOME/logs/ambot.log
pidfile=$HOME/pids/ambot.pid

[ambot]
users=_koshi_,BrainDamage

[join_channels]
channels=springlobby